.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.main h1 {
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .main {
    padding: 2rem;
  }
}
